body {
    font-family: Mulish;
    background: #FFFFFF;
    color: #333333;
}
body a {
    /* text-decoration: none; */
}
.nav_top_back {
    max-width: 100%;
    background: #F5FAFE;
}
.navtop {
    max-width: 1105px;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.top_help {
    font-size: 10px;
}
.gift_and_loyalty {
    width: 314px;
    display: flex;
    justify-content: space-between;
}
.top_giftcard {
    display: flex;
    align-items: center;
}
.top_giftcart_text {
    font-size: 10px;
    margin-left: 21px;
    color: #333333;
    text-decoration: none;
}
.top_loyalityprogram {
    display: flex;
    align-items: center;
}   /*Доделать ссылку на текст*/
.top_loyalityprogram_text {
    font-size: 10px;
    margin-left: 21px;
    text-decoration: none;
    color: #333333;
}
.navbar {
    background: #FFFFFF;
    margin: auto;
    height: 120px;
    max-width: 1105px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.search {
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.logo_and_search {
    width: 635px;
    display: flex;
    justify-content: space-between;
}
.search input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 285px;
    /* padding: 2px 23px 2px 30px; */
    outline: 0;
    background-color: #F5FAFE;
}
.search button {
    background: #EC1F46;
    height: 42px;
    width: 65px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-width: 0px;
}
.cart_and_prof {
    width: 235px;
    display: flex;
    justify-content: space-between;
}
.cart {
    display: flex;
    align-items: center;
}
.cart_count {
    height: 20px;
    width: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/cart_count.jpg);
    background-position: center;
}
.cart_and_count {
    width: 30px;
    height: 30px;
    
}
.profile {
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.profile img {
    margin-right: 18px;
    border-radius: 50%;
}
.profile_name {
    color: #333333;
    text-decoration: none;
}
.profile_menu {
    margin-left: 24px;
}
.nav_bottom_back {
    background: #0A223D;
}
.navbottom {
    margin: auto;
    height: 80px;
    width: 1105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbottom a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.bread_crumb_back {
    background: #F5FAFE;
}
.bread_crumb {
    margin: auto;
    height: 50px;
    width: 1105px;
    display: flex;
    align-items: center;
}
.bread_crumb a {
    font-size: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #0A223D;
}
.hotelName {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.hotelName_info {
    margin-left: 5vw;
    /* display: flex;
    flex-direction: column; */
}
.hotelName_userRating {
    margin-right: 5vw;
}
